.menu{
    background-color: #004a84;
    color: white;
}
.menu a{
    color: white;
    font-size: 13px;
}

.user-navigation a{
    color: black;
}

li {
    font-family: sans-serif;
    border-color: black;
}

#buttonUser{
    background-color: #003f6e; 
    color: white; 
    font-family: sans-serif; 
    font-size: 15px;
}